{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <!-- remove padding under header -->
<style>
  h4{
    margin-bottom: 0;
  }
  </style>
  
  <body>
  <div class="container">
  
    <nav class="navbar navbar-expand-sm">
      <ul class="nav navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="{% url 'landing' %}">home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'essays' %}">essays</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'three' %}">book reviews</a> </li>
      </ul>
    </nav>

    <div class="row justify-content-center">
      <div class="col-sm-9">

    {% block content %}{% endblock %}

  </div>
</div>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>