{% extends "app/base_essay.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h4 class="text-center">This sign should be a gate</h4>
    <p>May 2023</p>

    <p><i>Note: This was written for a <a href="https://freddiedeboer.substack.com/p/the-defundderek-chauvin-challenge">writing contest</a>. It's a devil's advocate case—I'm far from a police/prison abolitionist.</i></p>

    <img src="{% static 'fence.png' %}" alt="carbon" class="rounded mx-auto d-block" style="max-width:100%;height:auto;">

    <p>Every time we kick a soccer ball over this fence someone has to run around the fence to get the ball back, and it's super annoying. The sign should be a gate!</p>

    <p>Police defunders and prison abolitionists see a criminal justice system that functions the same way as this sign: it enforces rules rather than solving problems. So they argue the United States needs to radically shift resources from punishment to problem-solving. If we dismantled the justice system under this way of thinking, Derek Chauvin would speak with George Floyd's family and a trained facilitator, come to some sort of understanding, and the parties would find ways to make amends without incarceration.</p>

    <p>It seems outlandish—Floyd's family was delighted when Chauvin's decades-long sentence came down ("Today, we are able to breathe again"). But they felt this way in a world where only two things can happen when police officers unjustly kill people: cops can go to prison or cops can take a paid vacation then go back to their jobs. A restorative justice alternative could hold Chauvin more accountable than prison and give Floyd's family more closure.</p>

    <p>Chauvin's sentencing was the first time George Floyd's family spoke to Chauvin. And in our charge-based, adversarial justice system, an honest dialogue was impossible. Since the family did not have an opportunity to ask Chauvin why he did what he did or ensure he understood the pain he'd caused or make any demands of him, Chauvin ducked an important kind of accountability. Facing the people one has irreparably harmed week after week in restorative justice programs like Brooklyn's Common Justice can be tougher than sitting behind bars and feeling wronged by society.</p>

    <p>What if Floyd's family wanted nothing to do with Chauvin? Or if Chauvin refused to participate in restorative justice? These questions are not obvious, and abolitionists are often frustratingly vague about what to do in place of prison. But this is because alternatives should be specific to crime victims and their families. The parenting classic <i>How to Talk So Kids Will Listen & Listen So Kids Will Talk</i> is a key abolitionist text if you replace "parents" with "prosecutors": "I'm always impressed by the ingenuity of parents. Give them a little quiet and some time in which to think, and they usually come up with a variety of ways to handle problems other than by punishment." If the state sees a family in immense grief, has coercive power over the person who caused the grief, and has millions of dollars to spend, it can find more effective solutions than decades of incarceration.</p>

    <p>Derek Chauvin will come out of prison in the mid-2030's, perhaps as an unrepentant, George Zimmerman-like stain on the public discourse. Will this have solved anything?</p>
</div>
{% endblock content %}