{% extends "app/base_essay.html" %}
{% block content %}
<h4 class="text-center">Food fight</h4>
<p>October 2023</p>

<p>Various people and organizations give talks at my law school during the lunch hour. They often provide food too, and the more boring the talk the better the food: a South African game law discussion might come with pizza, but the complex commercial litigation panel is serving Szechuan Dan Dan noodles. Every student gets an email about every one of these events, and there’s rarely enough food. So an uncouth mob forms at the entrance to the lecture hall and fights it out. The worst is when the food comes late—then students race to the entrance and loudly rustle through bags and boxes while the presenters try to ignore the spectacle and continue on. Some students slip out of the room as soon as they get their plate (or two). The system rewards this kind of gangster self-interest and punishes respectful listening: sitting attentively in the front might leave you hungry.</p>

<p>Earlier today, I saw this play out for the fourth or fifth time and realized it was a question on my property law midterm last week: how do you resolve a tragedy of the commons? Some incomplete, hasty ideas (in ascending order of practicality):</p>

<p><b>Privatization</b></p>
<p>The school could charge us for whatever food we take and return to us whatever portion of our tuition and fees normally goes to these sorts of events. I’d personally love this. I wish higher education were more like a supermarket and less like an all-inclusive resort. But I think visiting law firms often pay for the food (which might be why boring equals delicious) so this might not work.</p>

<p><b>Abundance</b></p>
<p>There’s a wasteful option: these lunch talks could provide so much food that everybody is confident they will get what they want. This happens with pizza—there’s so much free pizza that events advertise “non-pizza lunches.” But a lot of pizza gets wasted.</p>

<p><b>Norms</b></p>
<p>A good step would be serving food by the presenters in the front rather than by the entrance in the back. Students might think twice about shoving their way to their banh mi if they’re catching glares from a law partner or whoever. Or maybe not—law students are shameless. A moderator at the event today had to interrupt the speaker to tell everyone to stop grabbing food, and plenty of people ignored her. Norms are of limited use. Our school is so expensive that people feel no shame in grabbing everything they can.</p>

<p><b>Law enforcement</b></p>
<p>Sometimes a free lunch email wags its finger at you: “fill out this RSVP form if you want food—we’ll be checking phones for confirmation emails.” Sadly, this is the only solution I’ve seen work. Most of the time nobody checks the phones, but the threat of enforcement is usually enough.</p>
        
{% endblock content %}